@model MovieOpinions.Domain.Entity.Film;

@{
    ViewBag.Title = Model.NameFilm;
}

@section Style{
    <link rel="stylesheet" href="~/Content/CSS_Style/DetailsFilm_Style/DetailsFilm_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Fonts_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Button_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Modal_Window.css" />
}

@Html.Partial("_ModalWindow");
<div class="ContentSiteStyle">
    <div class="ZoneFilmStyle">
        <div class="FormFilmStyle">
            <div class="FilmAndCommentZoneStyle">
                <div class="FilmInformatioStyle">
                    <div class="PhotoFilmStyle">
                        <img src="@Model.FilmImage" />
                    </div>
                    <div class="AboutFilmStyle">
                        <div class="ElementInformationFilm">
                            <label>Назва фільму: </label>
                            @Html.ActionLink(@Model.NameFilm, "DetailsFilm", "FilmPage", new { id = Model.IdFilm })
                        </div>
                        <div class="ElementInformationFilm">
                            <label>Жанр фільму: </label>
                            <label>@string.Join(", ", Model.GenreFilm)</label>
                        </div>
                        <div class="ElementInformationFilm">
                            <label>Рік фільму: </label>
                            <label>@Model.YearFilm</label>
                        </div>
                        <div class="ElementInformationFilm">
                            <label>Країна: </label>
                            <label>@string.Join(", ", Model.CountryFilm)</label>
                        </div>
                        <div class="ElementInformationFilm">
                            <label>Актори: </label>
                            @foreach (var actor in Model.ActorFilm)
                            {
                                @Html.ActionLink($"{actor.FirstName} {actor.LastName}", "DetailsActor", "FilmPage", new { id = actor.IdActor })
                                @if (actor != Model.ActorFilm.Last())
                                {
                                    @: ,
                                }
                            }
                        </div>
                        <div class="ElementInformationFilm">
                            <label>Опис: </label>
                            <label>@Model.DescriptionFilm</label>
                        </div>
                    </div>
                </div>
                @if (Model.CommentFilm != null)
                {
                    @foreach (var comments in Model.CommentFilm)
                    {
                        <div class="CommentZoneStyle" id="@comments.IdComment">
                            <div class="CommentStyle">
                                <div class="HeaderComment">
                                    <div class="NameUserStyle">
                                        <label>@comments.UserName пише:</label>
                                    </div>
                                    <div class="DateCommentStyle">
                                        <label>@comments.DateComment.ToString("dd.MM.yyyy")</label>
                                    </div>
                                </div>
                                <div class="TextCommentStyle">
                                    <label>@comments.TextComment</label>
                                </div>
                                <div class="ReactionPanelStyle">
                                    <button class="GeneralButtonStyle AnswerButton">Відповісти</button>
                                    @if (@User.Identity.Name == comments.UserName)
                                    {
                                        <button class="GeneralButtonStyle" onclick="GetCommentChangeForm(this)">Редагувати коментар</button>
                                    }
                                    <button class="GeneralButtonStyle">Поскаржитися на коментар</button>
                                    @if (@User.Identity.Name == comments.UserName)
                                    {
                                        <button class="GeneralButtonStyle" style="float:right;">Видалити</button>
                                    }
                                </div>
                                <div class="AnswerCommentStyle">
                                    @if (comments.AnswerComment != null && comments.AnswerComment.Count > 0)
                                    {
                                        <label class="CountAnswerLabel" data-comment-id="@comments.IdComment">Показати @comments.AnswerComment.Count відповідь</label>
                                    }
                                </div>
                            </div>
                            @if (comments.AnswerComment != null && comments.AnswerComment.Count > 0)
                            {
                                @foreach (var answers in comments.AnswerComment)
                                {
                                    <div class="AnswerStyle HideAnswers" data-comment-id="@comments.IdComment">
                                        <div class="HeaderAnswer">
                                            <div class="NameUserStyle">
                                                <label>@answers.NameUserAnswer відповідіє:</label>
                                            </div>
                                        </div>
                                        <div class="TextAnswerStyle">
                                            <label>@answers.TextAnswer</label>
                                        </div>
                                        <div class="ReactionPanelStyle">
                                            @if (@User.Identity.Name == answers.NameUserAnswer)
                                            {
                                                <button class="GeneralButtonStyle">Редагувати відповідь</button>
                                            }
                                            <button class="GeneralButtonStyle">Поскаржитися на коментар</button>
                                            @if (@User.Identity.Name == answers.NameUserAnswer)
                                            {
                                                <button class="GeneralButtonStyle" style="float:right;">Видалити</button>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                }
                else
                {
                    <div class="NotCommentStyle">
                        Коментарів ще немає ....
                    </div>
                }
            </div>
            <div class="ZoneTextCommentStyle">
                <div class="AddCommentButtonStyle">
                    <button class="GeneralButtonStyle CommentAdd">Додати коментар</button> 
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/ShowAnswer.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/ReplyToComment.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/UpdateCharCount.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/AddAnswer.js"></script>
    <script src="~/JavaScript/Modal_Window/Close_Modal_Window.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/AddPanelComment.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/RemovePanel.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/AddComment.js"></script>
    <script src="~/JavaScript/DetailsFilm_Page/Redaction.js"></script>
}