@model MovieOpinions.Domain.ViewModels.FilmPageModel.FilmPageModel;

@{
    ViewBag.Title = "Фільми";
}

@section Style{
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Fonts_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Button_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/TextBox_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Modal_Window.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/FilmPage_Style/FilmPage_Style.css" />
}

<div class="FormSiteStyle">
    @Html.Partial("_ModalWindow");
    <div class="HeaderStyle">
        <div id="SearchInform" class="SearchInformStyle">
            @Html.TextBoxFor(Model => Model.Search, "", new { @class = "TextBoxStyle", 
                                                              @style = "width: 100%; height: 50px;", 
                                                              @oninput = "UpdateStyleBasedOnInput('SearchInform'); SearchTextBox();" })
            <label class="LabelStyle">Пошук</label>
        </div>
        @Html.DropDownListFor(Model => Model.SelectedSortOption, Model.SortOption, "Сортувати", new { @class = "SortDropDownListStyle", id = "sortDropdown" })
        <img class="FilterIconStyle" src="~/Content/Image/FilterIcon.png" />
        <img id="PreivateOffices" class="PrivateOfficesIconStyle" src="~/Content/Image/PrivateOfficesIcon.svg" onclick="OpenOffices()" />
    </div>
    <div class="ContentSiteStyle">
        <div class="FiltresStyle">
            <div class="GenreFilterStyle">
                <details open>
                    <summary>Фільтр за жанром</summary>
                    @if(Model.GenreMovies == null)
                    {
                        <p>Упс... не вдалось завантажети данні</p>
                    }
                    else
                    {
                        <ul class="FilterStyle">
                            @foreach (var genre in Model.GenreMovies)
                            {
                                <li class="CheckBoxStyle">
                                    <label>
                                        @Html.CheckBox("selectedGenres", false, new { value = genre })
                                        @genre
                                    </label>
                                </li>
                            }
                        </ul>
                    }
                </details>
            </div>
            <div class="YearFilterStyle">
                <details open>
                    <summary>Фільтр за роком</summary>
                    <ul class="FilterStyle ">
                        @foreach (var year in Model.YearsMovies)
                        {
                            <li class="CheckBoxStyle">
                                <label>
                                    @Html.CheckBox("selectedGenres", false, new { value = year })
                                    @year
                                </label>
                            </li>
                        }
                    </ul>
                </details>
            </div>
        </div>
        <div class="FilmFormRegionStyle">
            <div class="FilmFormStyle">
                @foreach(var film in Model.Films)
                {
                    <div class="PosterFormStyle">
                        <div class="LeftZoneStyle">
                            <div class="PhotoZoneStyle">
                                <img src="@film.FilmImage" />
                            </div>
                            <div class="StarsZoneStyle">
                            </div>
                        </div>
                        <div class="InformationFilmStyle">
                            <div class="ElementInformationFilm">
                                <label>Назва фільму: </label>
                                @Html.ActionLink(@film.NameFilm, "DetailsFilm", "FilmPage", new { id = film.IdFilm })
                            </div>
                            <div class="ElementInformationFilm">
                                <label>Жанр фільму: </label>
                                <label>@string.Join(", ", film.GenreFilm)</label>
                            </div>
                            <div class="ElementInformationFilm">
                                <label>Рік фільму: </label>
                                <label>@film.YearFilm</label>
                            </div>
                            <div class="ElementInformationFilm">
                                <label>Країна: </label>
                                <label>@string.Join(", ", film.CountryFilm)</label>
                            </div>
                            <div class="ElementInformationFilm">
                                <label>Актори: </label>
                                @foreach (var actor in film.ActorFilm)
                                {
                                    @Html.ActionLink($"{actor.FirstName} {actor.LastName}", "DetailsActor", "FilmPage", new { id = actor.IdActor }, null)
                                    @if (actor != film.ActorFilm.Last())
                                    {
                                        @: ,
                                    }
                                }
                            </div>
                            <div class="ElementInformationFilm">
                                <label>Опис: </label>
                                <label>@film.DescriptionFilm</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/JavaScript/jQuery/jquery-3.7.1.js"></script>
    <script src="~/JavaScript/Update_Style_Based_On_Input.js"></script>
    <script src="~/JavaScript/Send_Login_Form.js"></script>
    <script src="~/JavaScript/Modal_Window/Close_Modal_Window.js"></script>
    <script src="~/JavaScript/FilmPage_Script/MovieFilterGenre.js"></script>
    <script src="~/JavaScript/FilmPage_Script/OpenPrivateOffices.js"></script>
    <script src="~/JavaScript/FilmPage_Script/MovieFilterYear.js"></script>
    <script src="~/JavaScript/FilmPage_Script/SearchInformation.js"></script>
    <script src="~/JavaScript/FilmPage_Script/SortingFilm.js"></script>
}