@model MovieOpinions.Domain.ViewModels.HomePageModel.HomePageModel;

@{
    ViewBag.Title = "Movie Opinions";
}

@section Style{
    <link rel="stylesheet" href="/Content/CSS_Style/General_CSS_Style/Button_Style.css" />
    <link rel="stylesheet" href="/Content/CSS_Style/General_CSS_Style/Fonts_Style.css" />
    <link rel="stylesheet" href="/Content/CSS_Style/HomePage_Style/HomePage_Style.css" />
}

<div class="ContentSiteStyle">
    <div class="PhotoSectionStyle Desktop">
        <div class="LeftPhotoStyle">
            <div class="PhotoZoneStyle">
                <div class="PhotoStyle" style="background-image: url(@Model.PhotoSite[0].Photo_One); width: 100%; height: 100%;"></div>
            </div>
            <div class="PhotoZoneStyle">
                <div class="PhotoStyle" style="background-image: url(@Model.PhotoSite[0].Photo_Two); width: 100%; height: 100%;"></div>
            </div>
        </div>
        <div class="RightPhotoStyle">
            <div class="PhotoZoneStyle">
                <div class="PhotoStyle" style="background-image: url(@Model.PhotoSite[0].Photo_Three); width: 100%; height: 100%;"></div>
            </div>
            <div class="PhotoZoneStyle">
                <div class="PhotoStyle" style="background-image: url(@Model.PhotoSite[0].Photo_Four); width: 100%; height: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="TextSectionStyle">
        <div class="NameSiteSectionStyle">
            <div class="FirstNameTitularStyle">
                @Model.NameSite[0].FirstWord
            </div>
            <div class="SecondNameTitularStyle">
                @Model.NameSite[0].SecondWord
            </div>
        </div>
        <div class="DescriptionZoneTextStyle">
            <div class="DescriptionTextStyle">
                @Model.DescriptionText
            </div>
        </div>
        <div class="ButtonLoginStyle">
            <button class="GeneralButtonStyle" onclick="location.href='@Url.Action("RedirectToLoginPage", "HomePage")'">Увійти</button>
        </div>
    </div>
</div>